@page "/courses/{CourseId}/units/{UnitId}"
@attribute [Authorize]

@using oervmariatrost_kursbuch.Data;
@using oervmariatrost_kursbuch.Data.DTO;
@inject NavigationManager NavigationManager
@inject ICourseDataService CourseDataService;


<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <h1 class="justify-content-center">@CourseDetails.Name</h1>
    </div>

    <div class="row m-4">
        <div class="col-12 unit-detail-header">
            Ablauf der Einheit
        </div>
        <div class="col-12">
            <p>
                @((MarkupString)CourseDetails?.SummaryUnit)
            </p>
        </div>
    </div>
    <div class="row m-4">
        <div class="col-12 unit-detail-header">
            Lernziel der Einheit
        </div>
        <div class="col-12">
            <p>
                @((MarkupString)CourseDetails?.LearningGoal)
            </p>
        </div>
    </div>
    <div class="row m-4">
        <div class="col-12 unit-detail-header">
            Nützliche Trainings-Tipps
        </div>
        <div class="col-12">
            <p>
                @((MarkupString)CourseDetails?.ImportantExerciseTips)
            </p>
        </div>
    </div>
    <div class="row m-4">
        <div class="col-12 unit-detail-header">
            Alltags-Tipps
        </div>
        <div class="col-12">
            <p>
                @((MarkupString)CourseDetails?.Lifehacks)
            </p>
        </div>
    </div>

    <div class="row justify-content-center  course-headline">
        <div class="col-12"><h2> Module </h2></div>
        <div class="col-12 justify-content-center">Folgende Module wurden besprochen:</div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var module in CourseUnitModules)
        {
            <div class="col">
                <div class="card h-100 module-card">
                    <div class="card-body">
                        <div class="card-title">
                            <h5 class="card-title">@module.Name</h5>
                        </div>
                        <p class="card-text">@((MarkupString)module.Description)</p>
                    </div>
                    <div class="card-footer">
                        <a href="/courses/@CourseId/units/@UnitId/modules/@module.ModuleId" class="btn btn-outline-primary">Modul ansehen</a>
                    </div>
                </div>
            </div>
        }
    </div>

</div>
@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    [Parameter]
    public string CourseId { get; set; }
    [Parameter]
    public string UnitId { get; set; }

    private CourseUnitDetailDTO CourseDetails = new CourseUnitDetailDTO();
    private IList<CourseUnitModuleDTO> CourseUnitModules = new List<CourseUnitModuleDTO>();

    protected async override Task OnInitializedAsync()
    {
        var claims = (await authenticationStateTask).User.Claims.ToList();
        var authenticatedEmail = claims.FirstOrDefault(x => x.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress")?.Value;
        CourseDetails = await CourseDataService.GetCourseUnit(Guid.Parse(UnitId), authenticatedEmail);
        await InvokeAsync(() => StateHasChanged());
        CourseUnitModules = await CourseDataService.GetCourseUnitModules(Guid.Parse(UnitId));
        await InvokeAsync(() => StateHasChanged());
    }

}
